*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* parte header */

header{
    height: 25rem;
    width: 100%;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
}

/* container con logo, link e login */

#nav-container{
    background-color: aqua;
    height: 15%;
    display: flex;
}

.nav{
    height: 65%;
    background-color: orange;
    display: flex;
    width: 65%;
    margin: auto;
}

#logo, #login{
    height: 100%;
    width: 25%;
    border: 1px dashed black;
    display: flex;
    align-items: center;
    padding: 0.6rem;
}

#logo{
    justify-content: flex-start;
}

#login{
    justify-content: end;
}

#upper-link{
    width: 50%;
    height: 100%;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* parte header con frase motivazionale e link per scaricare */

header>div:last-child{
    height: 75%;
    width: 50%;
    background-color: rgb(250, 118, 255);
    border: 2px dashed black;
    border-radius: 6px;
    margin: 2rem auto;
}

/* parte main con le varie descrizioni */

.description{
    width: 65%;
    height: 22rem;
    align-items: center;
    margin: 0 auto;
    display: flex;
}

main>div:nth-child(2),
main>div:last-child{
    background-color: lightgray;
}

.photo{
    background-color: rgb(29, 173, 251);
    width: 60%;
    height: 85%;
    border: 1px dashed black;
}

.text{
    background-color: pink;
    width: 40%;
    height: 85%;
    border: 1px dashed black;
}

.final-description-container{
    width: 65%;
    height: 40rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.final-description{
    background-color: green;
    height: 90%;
    width: 100%;
    border: 2px dashed black;
}

/* parte footer */

footer{
    background-color: rgb(52, 52, 52);
    height: 50rem;
    width: 100%;
    padding-top: 1rem;
}

#legenda{
    height: 50%;
    width: 65%;
    display: flex;
    margin: auto;
}

#social{
    height: 100%;
    width: 32%;
    background-color: red;
    border-radius: 4px;
    border: 2px dashed black;
}

.link{
    height: 100%;
    width: 12%;
    background-color: aqua;
    border: 2px dashed white;
}

hr{
    background-color: white;
    margin: 2rem 0;
}

