*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    border-radius: 2rem;
    padding: 0.6rem;
    border: 0;
}

/* parte header */

header{
    height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* container con logo, link e login */

#nav-container{
    height: 15%;
    display: flex;
}

.nav{
    height: 65%;
    display: flex;
    width: 70%;
    margin: auto;
}

#logo, #login{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.6rem;
}

#logo{
    width: 25%;
    justify-content: flex-start;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
}

#login{
    justify-content: flex-end;
    background-color: white;
}

#upper-link{
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* parte header con frase motivazionale e link per scaricare */

header>div:last-child{
    height: 75%;
    width: 50%;
    margin: 3rem auto;
    text-align: center;
}

div>h1{
    color: white;
    margin-bottom: 1.5rem;
}

div>p{
    color: white;
    margin-bottom: 1.5rem;
}

#mac-download{
    background-color: white;
    color: black;
}

#open-in-browser{
    background-color: black;
    color: white;
}

/* parte main con le varie descrizioni */

.description{
    width: 65%;
    height: 22rem;
    align-items: center;
    margin: 0 auto;
    display: flex;
}

main>div:nth-child(2),
main>div:last-child{
    background-color: lightgray;
}

.photo{
    background-color: rgb(29, 173, 251);
    width: 60%;
    height: 85%;
    border: 1px dashed black;
}

.text{
    background-color: pink;
    width: 40%;
    height: 85%;
    border: 1px dashed black;
}

.final-description-container{
    width: 65%;
    height: 40rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.final-description{
    background-color: green;
    height: 90%;
    width: 100%;
    border: 2px dashed black;
}

/* parte footer */

footer{
    background-color: rgb(52, 52, 52);
    height: 50rem;
    width: 100%;
    padding-top: 1rem;
}

#legenda{
    height: 50%;
    width: 65%;
    display: flex;
    margin: auto;
}

#social{
    height: 100%;
    width: 30%;
    background-color: red;
    border-radius: 4px;
    border: 2px dashed black;
}

.link{
    height: 100%;
    width: calc(70% / 4);
    background-color: aqua;
    border: 2px dashed white;
}

hr{
    background-color: white;
    margin: 2rem 0;
}

footer>div:last-child{
    width: 65%;
    height: 4rem;
    background-color: aqua;
    margin: auto;
}
